1.Implement the methods of String with examples

In [ ]:

my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)


my_string = """HI, welcome to
           BOOT CAMP"""
print(my_string)

Hello
Hello
Hello
HI, welcome to
           BOOT CAMP

In [ ]:
 
str = 'ADUPAVIVEK'
print('str = ', str)


print('str[0] = ', str[0])


print('str[-1] = ', str[-1])


print('str[1:5] = ', str[1:5])

print('str[5:-2] = ', str[5:-2])

str =  ADUPAVIVEK
str[0] =  A
str[-1] =  K
str[1:5] =  DUPA
str[5:-2] =  VIV

In [ ]:

str1 = 'Hello'
str2 ='World!'


print('str1 + str2 = ', str1 + str2)
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [ ]:
my_string=" WELCOME TO BOOTCAMP"
print(my_string.upper())
print(my_string.lower())
print(my_string.swapcase())
print(my_string.title())
print(my_string.capitalize())
string5="  THIS BOOTCAMP IS VERY USEFUL "
print(string5.strip())
print(string5.lstrip())
print(string5.rstrip())

 WELCOME TO BOOTCAMP
 welcome to bootcamp
 welcome to bootcamp
 Welcome To Bootcamp
 welcome to bootcamp
THIS BOOTCAMP IS VERY USEFUL
THIS BOOTCAMP IS VERY USEFUL
  THIS BOOTCAMP IS VERY USEFUL

2.Implement the methods of List with examples.

In [ ]:
my_list = ['a', 'b', 'c', 'd', 'e']

print(my_list[0])  


print(my_list[1])  


print(my_list[5])

a
b

IndexError: ignored

In [ ]:

my_list = ['a','b','c','d','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

e
a

In [ ]:


my_list = ['v','i','v','e','k','a','d','u','p','a']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['v', 'e', 'k']
['a', 'd', 'u', 'p', 'a']
['v', 'i', 'v', 'e', 'k', 'a', 'd', 'u', 'p', 'a']

In [ ]:

odd = [7, 3, 5]

odd.append(9)

print(odd)

odd.extend([11, 13, 15])

print(odd)

[7, 3, 5, 9]
[7, 3, 5, 9, 11, 13, 15]

In [ ]:

odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["sru"] * 3)

[1, 3, 5, 9, 7, 5]
['sru', 'sru', 'sru']

In [ ]:

odd = [1, 9]
odd.insert(1,3)

print(odd)

[1, 3, 9]

In [ ]:

my_list = ['v', 'i', 'v', 'e', 'k', 'a']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

['v', 'i', 'e', 'k', 'a']
['v']

In [ ]:
my_list = ['v','i','v','e','k','a','d','u','p','a']
my_list.remove('v')


print(my_list)

print(my_list.pop(1))


print(my_list)


print(my_list.pop())


print(my_list)

my_list.clear()
print(my_list)

['i', 'v', 'e', 'k', 'a', 'd', 'u', 'p', 'a']
v
['i', 'e', 'k', 'a', 'd', 'u', 'p', 'a']
a
['i', 'e', 'k', 'a', 'd', 'u', 'p']
[]

3.Implement the methods of Tuple with examples.

In [ ]:



v_tuple = ()
print(v_tuple)


v_tuple = (1, 2, 3)
print(v_tuple)


v_tuple = (1, "Hello", 5.4)
print(v_tuple)


v_tuple = ("burger", [8, 4, 6], (1, 2, 3))
print(v_tuple)

()
(1, 2, 3)
(1, 'Hello', 5.4)
('burger', [8, 4, 6], (1, 2, 3))

In [ ]:

v_tuple = ('v','i','v','e','k','a')

print(v_tuple[0])

v

In [ ]:

v_tuple = ('v','i','v','e','k','a')


print(v_tuple[-1])


print(v_tuple[-6])

a
v

In [ ]:
v_tuple = ('v','i','v','e','k','a')


print(v_tuple.count('i'))  
print(v_tuple.index('v'))

1
0

In [ ]:
v_tuple = ('v','i','v','e','k','a')

del v_tuple

4.Implement the methods of Dictionary with examples.

In [ ]:

my_dict = {'name': 'vivek', 'age': 19,'address':'warangal'}


print(my_dict['name'])


print(my_dict.get('age'))


print(my_dict.get('address'))

vivek
19
warangal

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'vivek', 'age': 30}

my_dict['age'] = 26

print(my_dict)


my_dict['address'] = 'nzb'


print(my_dict)

{'name': 'vivek', 'age': 26}
{'name': 'vivek', 'age': 26, 'address': 'nzb'}

In [ ]:
dict={'name':'vivek','branch':'CSE(AIML)','year':2,'address':'nzb','college':'SRU'}
print(dict['name'])
print(dict.keys())
print(dict.values())
print(dict.get('name'))
dict['firstname']='adupa' #add iteam
print(dict)
dict['college']='SRU' #update value
print(dict)
dict.pop('address') #remove particular item
print(dict)
dict.popitem() #remove an item from last
print(dict)
dict.clear() # clear enter dict
print(dict)

vivek
dict_keys(['name', 'branch', 'year', 'address', 'college'])
dict_values(['vivek', 'CSE(AIML)', 2, 'nzb', 'SRU'])
vivek
{'name': 'vivek', 'branch': 'CSE(AIML)', 'year': 2, 'address': 'nzb', 'college': 'SRU', 'firstname': 'adupa'}
{'name': 'vivek', 'branch': 'CSE(AIML)', 'year': 2, 'address': 'nzb', 'college': 'SRU', 'firstname': 'adupa'}
{'name': 'vivek', 'branch': 'CSE(AIML)', 'year': 2, 'college': 'SRU', 'firstname': 'adupa'}
{'name': 'vivek', 'branch': 'CSE(AIML)', 'year': 2, 'college': 'SRU'}
{}

5.Implement the methods of Set with examples.

In [ ]:
set1={11,22,33,44,55,66,77,88,99,111}
set2={10,9,7,8,6,5,1,3,2,4}
set1.add(11)
print(set1)
set1.update([12,13,14])
print(set1)
set1.discard(14)
print(set1)
set1.remove(44)
print(set1)
set1.copy()
print(set1)
set1.difference()
print(set1)
print(set1)
#union
print(set1.union(set2))
#intersection
print(set1.intersection(set2))
#difference
print(set1-set2)
print(set2-set1)
set1.pop()
print(set1)

{33, 66, 99, 11, 44, 77, 111, 22, 55, 88}
{33, 66, 99, 11, 44, 77, 12, 111, 13, 14, 22, 55, 88}
{33, 66, 99, 11, 44, 77, 12, 111, 13, 22, 55, 88}
{33, 66, 99, 11, 77, 12, 111, 13, 22, 55, 88}
{33, 66, 99, 11, 77, 12, 111, 13, 22, 55, 88}
{33, 66, 99, 11, 77, 12, 111, 13, 22, 55, 88}
{33, 66, 99, 11, 77, 12, 111, 13, 22, 55, 88}
{1, 66, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 77, 13, 10, 22, 88, 33, 99, 111, 55}
set()
{33, 66, 99, 11, 12, 77, 13, 111, 22, 55, 88}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{66, 99, 11, 77, 12, 111, 13, 22, 55, 88}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method

In [ ]:
print(bin(30))
print(oct(30))
print(hex(30))

0b11110
0o36
0x1e

7.Implement Arithmetic operators with examples.

In [ ]:
A=45
B=15
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A%B)
print(A**B)
print(A//B)

60
30
675
3.0
0
6283298708943145751953125
3

8.Implement Assignment operators with examples.

In [ ]:
a=120
b=60
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c=2
c%=a
print(c)
c**=a
print(c)
c//=a
print(c)

180
300
180
21600
180.0
2
1329227995784915872903807060280344576
11076899964874298940865058835669538

9.Implement Comparison operators with examples.

In [ ]:
a=33
b=23
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

10.Implement Logical operators with examples

In [ ]:
a='true'
b='false'
print(a and b)
print(a or b)
print(not a)
print(not b)

flase
true
False
False

11.Implement Bitwise operators with examples

In [ ]:
a=120
b=100
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

96
28
124
-121
30
480

12.Implement Membership operators with examples.

In [ ]:
a=[1,2,3,4]
b={'bike',6,7,5,'a'}
print(6 in a)
print('hello' in b)
print(3 in a)
print('b' not in b)

False
False
True
True

13.Implement Identity operators with examples

In [ ]:
a=200
b=300
x='car'
y='bike'
print(a is b)
print(a is not b)
print(x is y)
print(x is not y)

False
True
False
True

14.demonstrate Negative indexing for List and apply slicing

In [ ]:
list=[1,6.0,2,3.5,10,20,56,5,1.4]
print(list[-1])
print(list[-4])
print(list[-9:-1])
print(list[-9::])
print(list[::-1])
print(list[::])
print(list[-9::5])

1.4
20
[1, 6.0, 2, 3.5, 10, 20, 56, 5]
[1, 6.0, 2, 3.5, 10, 20, 56, 5, 1.4]
[1.4, 5, 56, 20, 10, 3.5, 2, 6.0, 1]
[1, 6.0, 2, 3.5, 10, 20, 56, 5, 1.4]
[1, 20]

15.Predict the output for the given code snippet and justify the result.

In [ ]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
#[::-1] reverse the whole string and [4::3] reads the string from index 4 and indexjump to the value 3
print("-------------------------")
print('Welcome to AIML Bootcamp'[3:10][::-1])
#[3:10] it starts from 3index and stops at 10index  [::-1]the it will reverse the string

taawkcbe  tgestrcoeeA
-------------------------
ot emoc

16.Write a python code to get desired output
Input string:p_phrase="was it a car or a cat I saw"
Output string: WAS I TAC A RO RAC A TI SAW

In [ ]:
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[::-1])

WAS I TAC A RO RAC A TI SAW

17.You are required to generate a word similar to ZOO, X and Y that denote 
the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
Input X= 2 Output ZZOOOO 
Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
x=int(input("Enter a value"))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a value23
x= 23
y= 46
ZZZZZZZZZZZZZZZZZZZZZZZOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO