In [ ]:
#if statement
num=100
if num>0:
  print("true")
  print(num)

true
100

In [ ]:
num=0
if num>0:
  print("true")
  print(num)

In [ ]:
#if else statement
a=-1
if a>0:
  print("GREATER")
  print(a)
else:
  print("LESSER")
  print(a)

LESSER
-1

In [ ]:
#nested if statements
#bus tickets
age=int(input("Enter age="))
if age>12 and age<=18 :
  if age<15:
    print("Quarter ticket ")
  elif age==15:
    print("Quarter ticket + discount")
  else:
    print("half ticket")
elif age>=19 and age<=60:
  print("Full ticket")
elif age>60:
  print("Full ticket + discount")
else:
  print("No ticket")

Enter age=19
Full ticket

In [ ]:
#for loop
number=[1,3,5,7,9,11,13,15,17,19]
sum=0
for value in number:
  sum+=value;
print("The sum is =",sum)
print("\n")
for i in range(1,12):
  print(i)
print("\n")
for i in range(1,12,2):
  print(i)

print("\n")
x=[1,2,3,4,5,6,7]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print(y)

The sum is = 100


1
2
3
4
5
6
7
8
9
10
11


1
3
5
7
9
11


[2, 4, 6]

In [ ]:
# using statements in for loop
d=[1,2,5]
for i in d:
  print(i)
else:
  print("no items left")
print("\n")
for l in "ADUPA VIVEK":
  print("current letter :",l)

1
2
5
no items left


current letter : A
current letter : D
current letter : U
current letter : P
current letter : A
current letter :
current letter : V
current letter : I
current letter : V
current letter : E
current letter : K

In [ ]:
#iterating by sequence indexing
stationery=['Eraser','pen','pencil']
for index in range(len(stationery)):
  print("current stationery:",stationery[index])

current stationery: Eraser
current stationery: pen
current stationery: pencil

In [ ]:
#while
i=0
while i<=15:
  print(i)
  i+=1
print("\n")
i=0
while i<15:
  print(i,"is less than 15")
  i+=1
else:
  print(i,"is not less than 15")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15


0 is less than 15
1 is less than 15
2 is less than 15
3 is less than 15
4 is less than 15
5 is less than 15
6 is less than 15
7 is less than 15
8 is less than 15
9 is less than 15
10 is less than 15
11 is less than 15
12 is less than 15
13 is less than 15
14 is less than 15
15 is not less than 15

In [ ]:
#nested loops
print("addition")
x=[[12,7,3],
   [4,5,6],
   [7,8,9]]
y=[[5,8,1],[1,1,0],[5,3,7]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j] + y[i][j]
for r in res:
  print(r)
print("\n")
print("Subtraction")
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j] - y[i][j]
for r in res:
  print(r)
print("\n")
print("Multiplication")
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j] * y[i][j]
for r in res:
  print(r)

addition
[17, 15, 4]
[5, 6, 6]
[12, 11, 16]


Subtraction
[7, -1, 2]
[3, 4, 6]
[2, 5, 2]


Multiplication
[60, 56, 3]
[4, 5, 0]
[35, 24, 63]

In [ ]:
n1=int(input("Enter the value upto which table needed "))
i=1
while(i<=n1):
  print(f"Table{i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j+=1
  print("________________")
  i+=1

Enter the value upto which table needed 6
Table1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
________________
Table2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
________________
Table3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
________________
Table4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
________________
Table5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
________________
Table6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
________________

In [ ]:
#control statements
#break
for l in 'Bootcamp':
  if l=='h':
    break
  print("current letter:",l)
print("\n")
i=10
while(i>0):
  print("current value:",i)
  i=i-1
  if i==5:
    break

current letter: B
current letter: o
current letter: o
current letter: t
current letter: c
current letter: a
current letter: m
current letter: p


current value: 10
current value: 9
current value: 8
current value: 7
current value: 6

In [ ]:
#continue
for l in 'BootCamp':
  if l=='h':
    continue
  print("current letter:",l)
print("\n")
i=10
while(i>0):
  print("current value:",i)
  i=i-1
  if i==5:
    continue

current letter: B
current letter: o
current letter: o
current letter: t
current letter: C
current letter: a
current letter: m
current letter: p


current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [ ]:
#pass
for l in 'BootCamp':
  if l=='h':
    pass
  print("This is pass block")
  print("current letter:",l)
print("\n")
i=10
while(i>0):
  print("current value:",i)
  i=i-1
  if i==5:
    print("This is pass block")

This is pass block
current letter: B
This is pass block
current letter: o
This is pass block
current letter: o
This is pass block
current letter: t
This is pass block
current letter: C
This is pass block
current letter: a
This is pass block
current letter: m
This is pass block
current letter: p


current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
This is pass block
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [ ]:
str1=input("Enter a string:")
if(str1==str1[::-1]):
  print("palindrome")
else:
  print("not a palindrome")

Enter a string:pop
palindrome

In [ ]:
for i in range(1,51):
  str2=str(i)
  if(str2==str2[::-1]):
    print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(l)):
  if(l[i]%2==0):
    print(l[i])

2
4
6
8
10

Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and”

Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”]

Output: [“Finland”,”Ireland”]

In [ ]:
Countries_list=["Finland","Germany","Sweden","Ireland","Turkey"]
l=[]
for i in Countries_list:
  if ("and" in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

Write a python program that print respective grades of student:Grade – Outstanding  for marks>=90Grade A+ for marks >=80, <90Grade A for marks >=70, <80Grade B for marks >=60 and <70<60 Grade C

In [ ]:
marks=int(input("Enter your marks="))
if(marks>=90):
  print("outstanding")
elif(marks >=80 & marks<90):
  print("grade A+")
elif( marks >=70and marks<90):
  print("grade A")
elif( marks >=60and marks<90):
  print("garde B")
else:
  print("garde C")

Enter your marks=96
outstanding

Create a list with name state list with 5 elements State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Write a python program that extract first and last characters of each item and print in desired format.

Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Output: dItAgAaOkA

In [ ]:
list1= ["Delhi","Telangana","Goa","AP","Kerala"]
for i in range(len(list1)):
  str33=list1[i][0]
  str22=list1[i][-1] 
  print((str33+str22).swapcase())

dI
tA
gA
ap
kA

In [ ]:
#user defined functions
def greet(name):

  print("Hello,"+name+" Good Morning")
greet("ADUPA VIVEK")

Hello,ADUPA VIVEK Good Morning

In [ ]:
#default
def A(a=4,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [ ]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [ ]:
#positional
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [ ]:
#arbitrary keyword
def key_arg(**kwargs):
  return kwargs
dict1=key_arg(Apples=15,oranges=25,grapes=35)
print(dict1['Apples'])
print(dict1)

15
{'Apples': 15, 'oranges': 25, 'grapes': 35}

In [ ]:
#higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("Welcome to BootCAmp")
  print(greet)
explain(shout)
explain(whisper)

WELCOME TO BOOTCAMP
welcome to bootcamp

In [ ]:
#lambda
def incr(x):
  x+=1
  return x
print(incr(4))
print((lambda x:x+1)(4))
res=lambda x:x+1
print(res(4))

5
5
5

In [ ]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))
res=lambda x,y:x*y
print(res(2,3))

4
5
6

In [ ]:
li=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(li))

In [ ]:
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)


res_list1=list(map(lambda x:x+2,li))
print(res_list1)


print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [ ]:
def eod(num):
  if num%2==0 :
    return "The number {} is even".format(num)
  else :
    return "The number {} is odd".format(num)
eod(20)

li1=[1,2,3,4,5,6,7,8,9,10]
list(map(eod,li1))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even']

In [ ]:
li2=['apple','banana','grapes']
res=list(map(lambda x:x.capitalize(),li2))
print(res)

['Apple', 'Banana', 'Grapes']

In [ ]:
#filter
def odd_num(n):
  if(n%2!=0):
    return n
li3=[9,26,35,-2,50]
print(list(filter(odd_num,li3)))

[9, 35]

In [ ]:
li4=[28,64,53,66,39,22,56,107,34]
temp=list(filter(lambda x:x%2==0,li4))
print(temp)

[28, 64, 66, 22, 56, 34]

In [ ]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [ ]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [ ]:
#statistics module
import statistics as st
print(st.mean([11,64,13]))
print(st.median([91,12,73,24,25]))
print(st.mode([11,2,3,11,11]))

29.333333333333332
25
11

In [ ]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655310707.9136286
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=15, tm_hour=16, tm_min=31, tm_sec=47, tm_wday=2, tm_yday=166, tm_isdst=0)
Wed Jun 15 16:31:47 2022
Wed Jun 15 16:31:47 2022
None

In [ ]:
#random module
import random  as r
print(r.randrange(1,16))
print(r.randint(1,100))
print(r.random())

5
34
0.4997950039679525

In [ ]:
import random as r
g_num=r.randint(0,5)
g1_num=int(input("Enter a number="))
if g1_num==g_num :
  print("you won")
else :
  print("you lost")

Enter a number=4
you lost

Write a python program that remove items that are multiples of 5 from list:li=[1,2,5,6,7,10,15,25,65,78,90]o/p: [1,2,6,7,78]

In [ ]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

[1, 2, 6, 7, 78]

Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’

Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”]

Output: [“Apple”,”Avacado”,”Amla”]

In [ ]:
Fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x[0]=='A',Fruit))
print(res)

['Apple', 'Avacado', 'Amla']

Mssg=”Welcome to gradstellar bootcamp” X=”number of occurrences of ‘o’ in mssg”

Y=”number of occurrences of ‘e’ in mssg”

Compute (X+Y)2

In [ ]:
Mssg="Welcome to gradstellar bootcamp"
x=Mssg.count('o')
print(x)
y=Mssg.count('e')
print(y)
print("(x+y)^2=",x*x+y*y+2*x*y)

4
3
(x+y)^2= 49

Write python program that filters a list by removing the elements that not start with vowel. I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’]

O/P: [‘apple’,’orange’,’umbrella’]

In [ ]:
list22=["apple","orange","grapes","ball","bat","umbrella"]
res=list(filter(lambda x:x[0] in 'AEIOUaeiou',list22))
print(res)

['apple', 'orange', 'umbrella']

Write a python program that displays unique element in a given list using function Li=[56,78,32,45,45,45,19,20]

O/P: [56,78,32,45,19,20]

In [ ]:
Li23=[56,78,32,45,45,45,19,20]
def dup(d):
  n=[]
  for i in d:
    if i not in n:
      n.append(i)
  return n
dup(Li23)

[56, 78, 32, 45, 19, 20]